@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Recovery";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="container-light bg-white">

                <h4>Password recovery link sent</h4>
                <span>If user with email address provided exists, password recovery link has been sent. Please check your mailbox.</span>

            </div>
        </div>
    </div>
</div>