@page
@{
    ViewData["Title"] = "Not Found";
}

<div class="container-fluid container-light bg-white text-center">

    <h5><i class="fa fa-question-circle"></i> <span class="ml-2">404 | Not Found</span></h5>
    <hr />

    <h5 class="mb-3">Unfortunately, we couldn't find the resourse requested.</h5>

    <img src="~/images/not_found.png" style="max-width:200px;" />

    <p>Please try again later or use search. If problem persists, <a asp-page="/Contact" class="link-alt">contact us to get help.</a></p>

</div>