@{
    ViewData["Title"] = "Control Panel";
}

<div class="container-light-thin">@Html.BreadcrumbNavRender()</div>

<div class="container-fluid container-light bg-white">

    <ul class="list-unstyled">

        <li class="mt-3 mb-5"><h6><a asp-action="ManageOrders" asp-controller="Order"><i class="fa fa-archive mr-2"></i> Order Management</a></h6></li>
        <li class="mb-5"><h6><a asp-action="ManageCatalog" asp-controller="Catalog"><i class="fa fa-sitemap mr-2"></i> Catalog Management</a></h6></li>
        <li class="mb-5"><h6><a asp-action="ManageCustomers" asp-controller="User"><i class="fa fa-users mr-2"></i> User Management</a></h6></li>
        <li class="mb-5"><h6><a asp-action="ManageBlogs" asp-controller="Blog"><i class="fa fa-bullhorn mr-2"></i> Blog</a></h6></li>
        <li class="mb-5"><h6><a asp-action="ManagePendingComments" asp-controller="Product"><i class="fa fa-comment mr-2"></i> Pending Comments</a></h6></li>

    </ul>

</div>