@page
@model AccountRestrictedModel
@{
    ViewData["Title"] = "Account Restricted";
}

<div class="container-fluid container-light bg-white">

    <h5 class="text-danger"><i class="fa fa-ban"></i> <span class="ml-2">No Access | Account Restricted</span></h5>
    <hr />

    <p>Your request can't be processed as you account has been restricted.</p>

</div>