@page
@model TermsAndConditionsModel
@{
    ViewData["Title"] = "Terms and Conditions";
}

<div class="container-fluid container-light bg-white">
    <h4>@ViewData["Title"]</h4>
    <hr />

    <span>Terms and Conditions to be listed here.</span>

</div>