@model OrderDTO
<div class="flex-preset-4"><span class="text-secondary pl-3">Subtotal</span><span>@Model.OrderAmount PLN</span></div>
<div class="flex-preset-4"><span class="text-secondary pl-3">Delivery Fee</span><span>@Model.DeliveryFee PLN</span></div>
<div class="flex-preset-4"><span class="text-secondary pl-3">Total</span><span>@Model.OrderAmountTotal PLN</span></div>
