@model OrderDTO

@{ var commentText = String.IsNullOrEmpty(Model.DeliveryDetails.Comment) ? "—" : Model.DeliveryDetails.Comment; }

<div class="pl-3">
    <span class="text-secondary d-block">Comment</span><span>@commentText</span>
</div>
